*{
    padding:0;
    margin:0;
}
.ele{
    border:1px solid #999;
    width:969px;
    margin: 0 auto;
    display: flex;
    >div{
        border-right: 1px solid #999;;
        input,p,select{
            padding:20px 10px 2px 10px;
            border:none;
            display: inline-block;
            width:100%;
            margin:0;
            outline: none;
        }
    }
    .showing_message{
        text-align: center;
        color:#222;
        display: flex;
        line-height: 30px;
        cursor: pointer;
        flex-grow: 2;
        text-transform: capitalize;
        transition: all .5s ease-in-out;
        i{
            margin-top: 23px;
            margin-right: 10px;
            padding-right: 16px;
            font-size: 22px;
            display: inline-block;
            width:10px;
            height:10px;
            transition: all .5s ease-in-out;
            color:#999;
        }
    }
    .search_one{
        flex-grow: 5;
    }
    .search_two{
        flex-grow: 1;
    }
    .select{
        position: relative;
        width:93px;
        .sele_header{
            display: flex;
            cursor: pointer;
            i{
                margin-top:22px;
                margin-right: 7px;
                font-size: 20px;
                transition: all .3s ease-in-out;
            }
        }
        ul{
            display: none;
            list-style: none;
            position: absolute;
            box-shadow: 0 0 5px 1px #9999;
            left:-2;
            top:60px;
            width:93px;
            transition: all 1s ease-in-out;
            li{
                padding:10px;
                cursor: pointer;
                border-top:1px solid #9999995c;
                transition: all .3s ease-in-out;
                &:hover{
                    background:#99999940;
                }
            }
        }
        
    }
    .icon_search{
        flex-grow: 2;
        background: #050;
        width:40px;
        p{
            i{
                font-size: 36px;
                position: relative;
                bottom: 6px;
                left: 17px;
                color: #fff;
            }
        }
    }
}
.main_down{
    box-shadow:0 0 12px 2px #999999b8;
    width:450px;
    background:#fff;
    color:#222;
    display: none;
    margin-left: 28px;
    .menus{
        .menu{
            .header{
                display: flex;
                background: #fff;
                justify-content: space-between;
                .title{
                    padding:10px;
                    width: 400px;
                    cursor: pointer;
                    transition: all .4s ease-in-out;
                    border-bottom:1px solid #99999940;
                    &:hover{
                        background:#99999940;
                    }
                    a{
                        color:#222;
                        height: 30px;
                        width:100%;
                        display: inline-block;
                        text-transform: capitalize;
                        i{
                            color:#080;
                            font-size: 17px;
                            margin-right:10px;
                        }
                    }
                }
                .icons{
                    text-align: right;
                    width:50px;
                    background:#fff;
                    position: relative;
                    border-bottom:1px solid #99999940;
                    i{
                        position: absolute;
                        cursor: pointer;
                        top:10px;
                        left:0;
                        width:100%;
                        height:30px;
                        text-align: center;
                        line-height: 30px;
                        color:#999;
                        background: #fff;
                        border:none;
                        
                    }
                    .up{
                        display: none;
                    }
                }
            }
            ul{
                list-style: none;
                margin-top:0;
                display: none;
                li{
                    width:100%;
                    a{
                        padding:10px 0 0 50px;
                        background:#fff;
                        cursor: pointer;
                        display: inline-block;
                        width: 100%;
                        color:#222;
                        text-transform: capitalize;
                        &:after{
                            content: '';
                            display: block;
                            width: 100%;
                            height: 1px;
                            margin-top: 14px;
                            background: #99999940;
                        }
                        &:hover{
                            background:#99999940;
                        }
                    }
                }
            }
        }
    }

}


/********************************* start popup *********************/
.show_down{
    display: block !important;
}

.for_rotate{
    transform: rotate(180deg);
    margin-top:36px !important;
}

.for_select_rotate{
    transform: rotate(180deg);
    position: relative;
    top:-2px !important;
}

.back_green{
    background:#3BAA33 !important;
    color:#fff !important;
}
.wight_color{
    color:#fff !important;
}
.green_border{
    border:1px solid #3BAA33 !important;
}



/********************************* end popup  **********************/